.page-layout {
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  // Tablet
  @media (min-width: 640px) and (max-width: 1280px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  // Desktop and larger
  @media (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
  }

  // Desktop
  @media (min-width: 1280px) and (max-width: 1920px) {
    max-width: 1200px;
  }

  // Large Screens
  @media (min-width: 1920px) {
    max-width: 1536px;
  }
}
