header {
  padding: 1.75rem 0;
  .main-navbar {
    .nav-menu {
      display: none;
      list-style: none;
      margin: 0;
      .nav-menu-item {
        margin-bottom: 0;
        &:not(:last-of-type) {
          margin-right: 2rem;
        }
        &.active {
          a {
            color: var(--primary);
          }
        }
        a {
          text-decoration: none;
          color: var(--black);
        }
        .caret-icon {
          margin-left: 0.5rem;
        }
      }
    }
    .cta-wrapper {
      display: none;
      button {
        font-size: 0.875rem;
      }
    }
  }
  // Desktop and Larger
  @media (min-width: 1280px) {
    .main-navbar {
      .nav-menu {
        display: flex;
      }
      .cta-wrapper {
        display: block;
      }
      .hamburger-menu {
        display: none;
      }
    }
  }
}
