.paginator-wrapper {
  ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .prev-btn {
      grid-area: 1 / 1 / 2 / 2;
    }
    .next-btn {
      text-align: right;
      grid-area: 1 / 2 / 2 / 3;
    }
  }
}
