.onboarding {
  .form-wrapper {
    margin-bottom: 4rem;
    .success-message {
      text-align: center;
    }
    .error-message {
      background: var(--danger-light);
      color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      text-align: center;
      color: var(--danger-dark);
      .error-title {
        font-weight: bold;
        font-size: 1.25rem;
      }
      a {
        color: var(--danger-dark);
        text-decoration: underline;
      }
    }
    form {
      background: white;
      max-width: 468px;
      margin: auto;
      padding: 3rem;
      border-radius: 0.5rem;
      border: 1px solid var(--accent1-light);
      display: grid;
      row-gap: 2rem;
      label {
        display: block;
      }
      input:not([type="checkbox"]),
      select,
      textarea {
        width: 100%;
        &.has-error {
          border-color: var(--danger);
        }
      }
      textarea {
        resize: none;
      }
      .asterisk {
        color: var(--danger);
      }
      .error {
        color: var(--danger);
        font-size: 0.8rem;
        margin-top: 0.5rem;
      }
      .checkboxes-wrapper {
        p {
          margin-bottom: 0.5rem;
        }
        label {
          margin-bottom: 0;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
