.onboarding {
  .form-wrapper {
    margin-bottom: 4rem;
    form {
      background: white;
      max-width: 768px;
      margin: auto;
      padding: 3rem;
      border-radius: 0.5rem;
      border: 1px solid var(--accent1-light);
      display: grid;
      row-gap: 2rem;
      label {
        margin-bottom: 0.5rem;
        display: block;
      }
      input:not([type="checkbox"]) {
        width: 100%;
      }
      .asterisk {
        color: var(--danger);
      }
      .checkboxes-wrapper {
        p {
          margin-bottom: 0.5rem;
        }
        label {
          margin-bottom: 0;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
