.single-project {
  .hero-section {
    margin-bottom: 2rem;
    .illustration-wrapper {
      height: 170px;
      margin-bottom: 2rem;
      img {
        height: 100%;
        width: auto;
      }
    }
    h1 {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }
  .short-description {
    margin-bottom: 2rem;
    p {
      margin: 0;
    }
  }
  .chairs-section {
    margin-bottom: 2rem;
    .chairs-blobs {
      display: grid;
      row-gap: 1.5rem;
      column-gap: 1.5rem;
    }
  }

  .members-section {
    margin-bottom: 2rem;
    .members-blobs {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 0.75rem;
      column-gap: 0.75rem;
    }
  }
  .info-item {
    margin-bottom: 2rem;
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  // Tablet
  @media (min-width: 640px) and (max-width: 1280px) {
    .hero-section {
      margin-bottom: 3rem;
      .illustration-wrapper {
        height: 230px;
      }
      h1 {
        font-size: 2.25rem;
      }
      p {
        font-size: 1.25rem;
      }
    }

    .chairs-section {
      .chairs-blobs {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  // Tablet and Larger
  @media (min-width: 640px) {
    .short-description,
    .chairs-section,
    .members-section,
    .info-item {
      margin-bottom: 4rem;
    }
    .members-section {
      .members-blobs {
        grid-template-columns: repeat(auto-fit, 5rem);
        row-gap: 1.5rem;
        column-gap: 1.5rem;
      }
    }
  }

  // Desktop and Larger
  @media (min-width: 1280px) {
    .hero-section {
      margin-bottom: 3rem;
      .illustration-wrapper {
        height: 350px;
      }
      h1 {
        font-size: 2.25rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
    .chairs-section {
      .chairs-blobs {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
