.projects {
  margin-bottom: 5rem;
  .projects-wrapper {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    .project-card-wrapper {
      text-decoration: none;
      background: var(--white);
      border-radius: 0.5rem;
      overflow: hidden;
      border: 1px solid var(--accent1-light);
      display: grid;
      grid-template-rows: 200px 1fr;
      .image-wrapper {
        background: var(--accent1-lighter);
        position: relative;
        .pattern {
          background-image: url(../../assets/pattern.svg);
          opacity: 0.3;
          position: absolute;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
        }
        img {
          height: 50%;
          margin: 0;
          position: relative;
          z-index: 2;
        }
      }
      .content-wrapper {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font-size: 1.25rem;
          margin-bottom: 1rem;
        }
        small {
          color: var(--black-light);
          display: block;
          margin-bottom: 1rem;
        }
        p {
          font-size: 0.875rem;
          color: var(--black);
        }
      }
    }
  }
  // Tablet and Larger
  @media (min-width: 640px) and (max-width: 1280px) {
    .projects-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Desktop and Larger
  @media (min-width: 1280px) {
    .projects-wrapper {
      grid-template-columns: repeat(3, 1fr);

      .project-card-wrapper {
        grid-template-rows: 300px 1fr;
      }
    }
  }
}
