---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GSF Component Catalogue</title>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
  </head>
  <body>
    <slot />
  </body>
</html>
