.members-section {
  margin-bottom: 2rem;
  .members-blobs {
    display: grid;
    grid-template-columns: repeat(auto-fit, 3.5rem);
    row-gap: 0.75rem;
    column-gap: 0.75rem;
  }

  // Tablet and Larger
  @media (min-width: 640px) and (max-width: 1280px) {
    grid-template-columns: repeat(auto-fit, 4rem);
  }

  // Desktop and Larger
  @media (min-width: 1280px) {
    .members-blobs {
      grid-template-columns: repeat(auto-fit, 5rem);
      row-gap: 1.5rem;
      column-gap: 1.5rem;
    }
  }
}
