.not-found-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  .illustration-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    svg {
      width: 100%;
      height: auto;
    }
  }
}
