---
import { Button } from "@/components/ui/button";
---

<section class="relative bg-primary-dark py-14 md:py-20 lg:py-24">
  <div class="container max-w-5xl">
    <div class="flex flex-col items-center justify-center text-center text-white">
      <h1 class="mb-3 text-2xl font-semibold md:mb-4 md:text-3xl lg:text-4xl">
        Future of Sustainable Computational Energy
      </h1>
      <p class="text-sm md:text-base">
        Whether you're managing data centers, developing AI applications, or driving sustainability
        initiatives, your experience and insights can help create a standard that transforms how the
        world thinks about computational energy. Together, we can build an infrastructure where
        performance and sustainability become equal partners.
      </p>
    </div>
  </div>
</section>
