---
import { Card } from "@/components/ui/card";
import FeatureBackgroundIcon from "@/assets/icons/feature-background-icon.svg";
import StrategyIcon from "@/assets/icons/strategy.svg";
import ImplementationIcon from "@/assets/icons/implementation.svg";
import OperationalIcon from "@/assets/icons/operational.svg";
import ComplianceIcon from "@/assets/icons/compliance.svg";

const features = [
  {
    icon: StrategyIcon,
    title: "Strategy",
    description: "Strategic planning and vision alignment for transformative business outcomes.",
  },
  {
    icon: ImplementationIcon,
    title: "Implementation",
    description: "Seamless execution and deployment of solutions with precision and expertise.",
  },
  {
    icon: OperationalIcon,
    title: "Operational",
    description: "Streamlined processes and optimized workflows for maximum efficiency.",
  },
  {
    icon: ComplianceIcon,
    title: "Compliance and Regulations",
    description: "Robust compliance frameworks and security measures to protect your business.",
  },
];
---

<section id="the-framework" class="py-12 md:py-18 lg:py-20">
  <div class="container">
    <div class="mb-6 md:mb-8">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="mb-2 text-2xl font-semibold text-primary-darker md:text-3xl lg:text-4xl">
          The
          <span class="font-bold text-primary">SOFT</span>
          Framework
        </h1>
        <p class="text-primary-darker">Four pillars. One transformation. Unlimited potential.</p>
      </div>
    </div>
    <div
      class="grid auto-cols-fr grid-cols-1 gap-3 sm:grid-cols-2 md:gap-4 lg:grid-cols-4 lg:gap-4"
    >
      {
        features.map((feature) => (
          <Card className="flex flex-col justify-center p-6">
            <div class="relative mb-3 flex size-16 items-center justify-center md:mb-4">
              <feature.icon class="relative z-10" />
              <FeatureBackgroundIcon class="absolute inset-0 size-full" />
            </div>
            <h3 class="mb-2 text-xl font-bold text-primary">{feature.title}</h3>
            <p class="text-primary-darker">{feature.description}</p>
          </Card>
        ))
      }
    </div>
  </div>
</section>
