---
import DotIcon from "@/assets/icons/dot-icon.svg";
---

<section id="overview" class="relative py-12 md:py-18 lg:py-20">
  <div class="container">
    <div
      class="grid grid-cols-1 items-center justify-center gap-x-20 gap-y-12 rounded-2xl bg-accent-lighter p-8 md:gap-y-16 md:p-12 lg:grid-cols-2 lg:justify-end lg:px-20"
    >
      <div>
        <span
          class="mb-2 flex items-center gap-2 text-sm font-semibold text-primary md:mb-3 lg:text-base"
        >
          <DotIcon />
          Built on Four Interconnected Pillars
        </span>
        <h2 class="mb-3 text-2xl font-bold md:text-3xl lg:mb-4 lg:text-4xl">
          <span class="text-primary-darker">What is</span>
          <span class="text-primary">SOFT</span>?
        </h2>
        <p>
          The Sustainable Organisational Framework for Technology (SOFT) is your organization's
          complete transformation guide for sustainable software practices. Developed by the Green
          Software Foundation and ratified by leading technology organizations, SOFT provides the
          bridge between knowing sustainability matters and actually achieving it through your
          technology operations.
        </p>
      </div>
      <div class="hidden lg:flex lg:justify-end">
        <img src="/assets/cta.svg" class="object-cover w-3/4" />
      </div>
    </div>
  </div>
</section>
